       @import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
       
       body {
            background-color: rgb(255, 201, 223);
            padding: 0px;
            margin: 0px;
            font-family: 'Elms Sans', sans-serif;
        }
            
        .navbar {
            justify-content: center;
            font-weight: 200;
            navbar-expand-lg {
                display: flex;
                justify-content: center;
            }
        }
        .nav {
            display: flex;
            list-style-type: none;
            font-size: 1.0em;
            .nav-link.active {
                background-color: #ff93c5;
                color: rgb(0, 0, 0);
            }
            .nav-link:hover {
            background-color: #ff93c5;
            color: rgb(104, 113, 114);
            }
           
        }

        .nav>li {
            padding: 10px 2px;
        }
       
        .img-fluid-start {
            max-width: 50%;
            height: auto;
        }

        .container-fluid {
            padding: 5px;
        }

       div {
        background-color: rgb(63, 63, 63);
        display: block;
        padding: 15px 25px;
       }

       section {
        
        padding-bottom: 20px;
       }

       h4 {
            color: rgb(255, 255, 255);
            font-size: 18px;
            
            
        }

       h1 {
            text-align: center;
            background-color: #ff93c5;
            padding: 15px 25px;
            color: rgb(252, 252, 252);
            font-size: 30px;
            font-weight: 300;
        }
        p {
            color: rgb(255, 255, 255);
            font-size: 18px;
        }
        h2 {
            color: rgb(255, 201, 223);
        } 
        header {

            font-size: 20px;
        }
        
        ul {
            
            font-size: 16px;
        }
        
        a:link {
            color: rgb(255, 255, 255);
        }
        a:visited {
            color: rgb(114, 114, 114);
            background-color: transparent;
        }
        a:link, a:visited {
            background-color: #ff93c5;
            color: white;
            padding: 15px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
        a:hover {
            color: rgb(104, 113, 114);
            background-color: #ff93c5; 
        }
     
        .content {
            max-width: 300px;
            margin: auto;
        }

  
